*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    height: 100px;
    background-color: black;
    border: aquamarine 3px solid;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-size: 20px;
}

.header h1{
    color: aquamarine;
}

.navbar {
    color: goldenrod;
}

.active{
    font-weight: bolder;
}

.navbar .active{
    font-weight: lighter;
}

.navbar li a{
    text-decoration: none;
    color: goldenrod;
}